@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;
@define-color lime #39FF14;
@define-color phthalo #123524;
@define-color pinker #F699CD;
@define-color RED #FF0000;
@define-color ORANGE #FF8000;
@define-color YELLOW #FFDE21;
@define-color GREEN #00FF00;
@define-color BLUE #0000FF;
@define-color PURPLE #9400D4;
/* Hellwall_Wallpaper3 */
@define-color 1 #0A253A;
@define-color 2 #081F30;
@define-color 3 #2C3340;
@define-color 4 #36385A;
@define-color 5 #7A7450;
@define-color 6 #6F71B9;
@define-color 7 #848788;
@define-color 8 #E1CBA3;
@define-color 9 #01030D;
@define-color 10 #0A253A;
@define-color 11 #383D51;
@define-color 12 #434671;
@define-color 13 #807955;
@define-color 14 #7E80D3;
@define-color 15 #A5A8AA;
@define-color 16 #FFFFDB;
